
Projekt/GUI/.vs/GUI/v15/.suo
Projekt/Klassen/Klassen/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Projekt/GUI/GUI/obj/Debug/GUI.csproj.GenerateResource.Cache
Projekt/GUI/GUI/obj/Debug/GUI.csproj.GenerateResource.Cache
Projekt/GUI/GUI/obj/Debug/GUI.csprojResolveAssemblyReference.cache
Projekt/GUI/.vs/GUI/v15/.suo
Projekt/GUI/.vs/GUI/v15/Server/sqlite3/storage.ide-shm
Projekt/GUI/GUI/bin/Debug/GUI.exe
Projekt/GUI/GUI/bin/Debug/GUI.exe
Projekt/GUI/.vs/GUI/v15/.suo
Projekt/GUI/.vs/GUI/v15/.suo
Projekt/GUI/.vs/GUI/v15/.suo
Projekt/GUI/.vs/GUI/v15/.suo
